NBPCurrencyConverter/NBPCurrencyConverter.Api/obj/
NBPCurrencyConverter/NBPCurrencyConverter.Api/bin/

NBPCurrencyConverter/NBPCurrencyConverter.Core/obj/
NBPCurrencyConverter/NBPCurrencyConverter.Core/bin/

NBPCurrencyConverter/NBPCurrencyConverter.Data/obj/
NBPCurrencyConverter/NBPCurrencyConverter.Data/bin/